<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h3>SignUp</h3>
      <hr />
      <form
        *ngIf="signupForm"
        [formGroup]="signupForm"
        (ngSubmit)="onSignupSubmit()"
      >
        <div class="mb-3">
          <label for="">Email</label>
          <input type="text" class="form-control" formControlName="email" />
          <div
            *ngIf="signupForm.controls['email'].touched && !signupForm.controls['email'].valid"
          >
            <div *ngIf="signupForm.controls['email'].errors?.['email']">
              Invalid Email
            </div>
            <div *ngIf="signupForm.controls['email'].errors?.['required']">
              Email is required
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="">Password</label>
          <input
            type="password"
            class="form-control"
            formControlName="password"
          />
          <div
            *ngIf="signupForm.controls['password'].touched && !signupForm.controls['password'].valid"
          >
            <div *ngIf="signupForm.controls['password'].errors?.['required']">
              Password is required
            </div>
          </div>
        </div>
        <div class="mb-3">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="signupForm.invalid"
          >
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
