<div class="row">
  <div class="col-md-12">
    <form *ngIf="postForm" [formGroup]="postForm" (ngSubmit)="onAddPost()">
      <div class="mb-3">
        <label for="">Title</label>
        <input type="text" class="form-control" formControlName="title" />
        <div
          *ngIf="postForm.controls['title']?.touched && !postForm.controls['title']?.valid"
        >
          <div *ngIf="postForm.controls['title'].errors?.['required']">
            Title is required
          </div>
          <div *ngIf="postForm.controls['title'].errors?.['minlength']">
            Title should be minimum 6 characters
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="">Description</label>
        <textarea class="form-control" formControlName="description"></textarea>
        <div
          *ngIf="postForm.controls['description']?.touched && !postForm.controls['description']?.valid"
        >
          <div *ngIf="postForm.controls['description'].errors?.['minlength']">
            Min length is 10 characters
          </div>
        </div>
      </div>
      <div class="my-3">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!postForm.valid"
        >
          Add Post
        </button>
      </div>
    </form>
  </div>
</div>
